.App {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #f6f6f6;
    margin-left: 10px;
  }
/* .productArea{
   
  }  */
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .genders{
    margin-left: 15px;
  }
  .filters{
      height:200px;
      overflow-x: hidden ;
      overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
  .mrp{
      text-decoration: line-through;
      font-size:17px;
      padding-left: 10px;
  }
  .fas{
    font-weight: 500;
  }
  
  .price{
      font-size:25px;
      padding-right: 5px;
  }
  .icons{
    font-size: x-large;
    display: flex;
    width:100px;
    flex-direction: row;
    justify-content: space-around;

  }
  .noProducts{
    display: flex;
    align-items: center;
    justify-content: center;
    height:80vh;
    width:80vw;
    color:  rgb(245, 65, 155);;
  }
  .searchBox{
      width: 300px;
      height: 40px;
      outline: 0px;
      text-align: center;
      background: #e2e2e2;
      border: 0px;
      border-color: transparent;
      border-radius: 20px;
  }
  .searchBox:focus{
    background: #eeeeee;
  }
  .navGenders{
    display: flex;
    width:200px;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 5px;
  }
  select{
    width:100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
  }
  .mrpRs{
    font-size:15px;
  }
  .priceRs{
    font-size:22px;
  }
  .logo{
      width:120px;
      height:auto;
      border-radius: 2px;
  }
  .header{
      margin-top: 10px;
      margin-bottom: 10px;
      height:50px;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      box-shadow: 0 10px 10px -10px #333;
  }
  .productBody{
      display: grid;
      grid-template-columns: 15% 85%;
  }
  .sideBar{
      width:200px;
      height:100vh;
      box-shadow: 10px 0 10px -10px #333;
      padding-left: 10px;
  }
  h3{
    display: inline;
  }
  .clearAll{
    display: inline;
    font-size:medium;
    background: rgb(245, 65, 155);
    box-shadow: -5px -5px 10px white,  5px 5px 10px gray;
    transition: all 0.2s ease-in-out;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-left: 5px;
  }
  .clearAll{
    box-shadow: -2px -2px 5px white, 2px 2px 5px gray;
  }

  
  .cardDesign{
    width:  220px;
    max-height:400px;
    height:400px;
    display: inline-block;
    margin:10px;
    padding:10px;
    background-color:  #cca4ff;
    border-radius: 20px;
    background: #f8f8f8;
    box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #ffffff;  
      color:#1f2629;
  }
  
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    /* width: 500px; */
  }
  .brandName{
            height:85px;
  }
  .filterValues{
      padding-left: 10px;
  }

  img{
      max-width: 190px;
      height:auto;
      border-radius: 40px;
  }
  .grow { 
    transition: all .2s ease-in-out;
   }

   .prices{
        height:40px;
        padding-bottom: 5px;
   }

   .description{
       font-size:14px;
   }
  .grow:hover { transform: scale(1.05);
   /* background-color:  #5e9de6; */
    background-image : linear-gradient(140deg, #f8def8  0%, #dbdbdb 100%); 
  }
  