.App {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #ffffff;
    margin-left: 10px;
  }
  
  .genders{
    margin-left: 15px;
    font-size: 13.5px;
  }
  .filters{
      height:200px;
      overflow-x: hidden ;
      overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
  .mrp{
      text-decoration: line-through;
      font-size:17px;
      padding-left: 10px;
  }
  .fas{
    font-weight: 500;
  }
  
  .price{
      font-size:25px;
      padding-right: 5px;
      font-weight: 600;
  }
  .icons{
    font-size: x-large;
    display: flex;
    width:100px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
  .noProducts{
    display: flex;
    align-items: center;
    justify-content: center;
    height:40vh;
    width:80vw;
    color:  #4c2085;
  }
  .filterGroup{
    height:40px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 5px 5px -5px #3b3b3b;
    margin-bottom: 5px;
  }
  .searchBox{
      width: 300px;
      height: 50px;
      outline: 0px;
      text-align: center;
      background: #e2e2e2;
      border: 0px;
      border-color: transparent;
      border-radius: 20px;
  }
  .searchBox:focus{
    background: #eeeeee;
  }
  .navGenders{
    display: flex;
    width:290px;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 5px;
    font-size: 23px;
    padding: 0px 5px 0px 5px;
  }
  select{
    width:100px;
    height: 40px;
    margin-top: 5px;
    border-radius: 10px;
    text-align: center;
  }
  .mrpRs{
    font-size:15px;
  }
  .priceRs{
    font-size:22px;
  }
  .companyName{
    font-family: 'B612', sans-serif;
    font-size: 25px;
    margin-top: 5px;
  }
  .logo{
      width:60px;
      height:auto;
      border-radius: 2px;
      margin-top: 0px;
      margin-left: 10px;
      box-shadow: 5px 5px 5px rgb(101, 32, 165);
  }
  .header{
      padding-top: 5px;
      margin-bottom: 10px;
      padding-bottom: 10px;
      height:80px;
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0 10px 10px -10px #333;
      background-color: rgb(76, 32, 133);
      color:white;
      
  }
  .productBody{
      display: grid;
      grid-template-columns: 15% 85%;
  }
  .sideBar{
      width:200px;
      height:100%;
      box-shadow: 10px 0 10px -10px rgb(42, 42, 42);
      padding-left: 10px;
      background:#f0efef
  }
  h3{
    display: inline;
  }
  .clearAll{
    display: inline;
    font-size:medium;
    background: rgb(245, 65, 155);
    box-shadow: -5px -15px 15px white,  5px 15px 15px gray;
    transition: all 0.2s ease-in-out;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-left: 5px;
  }
  .clearAll{
    box-shadow: -2px -2px 5px white, 2px 2px 5px gray;
  }

  
  .cardDesign{
    width:  230px;
    max-height:410px;
    height:410px;
    display: inline-block;
    margin:10px;
    padding:10px;
    background-color:  #cca4ff;
    border-radius: 20px;
    background: #f8f8f8;
    box-shadow:  10px 10px 20px #bebebe,
             -10px -10px 20px #f1f1f1;  
      color:#1f2629;
  }
  
  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    /* width: 500px; */
  }
  .brand{
          height:85px;
  }
  .brandName{
    font-size:20px;
    color: #6b32b6;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .filterValues{
      padding-left: 10px;
      font-size: 13.5px;
  }

  img{
      max-width: 190px;
      height:auto;
      border-radius: 30px;
  }
  .grow { 
    transition: all .2s ease-in-out;
   }

   .prices{
        height:30px;
        padding-bottom: 2px;
        margin-top: 5px;
       color:rgb(253, 102, 15)
   }
   .filterHeading{
     display: inline;
     font-size: 20px;
   }

   .description{
       font-size:14px;
       display: flex;
       justify-content: center;
       align-items: center;
       font-weight: 400;
   }
  .grow:hover { transform: scale(1.05);
   /* background-color:  #ff5d48f1; */
    background-image : linear-gradient(180deg, #e3d1fb  10%, #eeeeee 90%); 
    -moz-box-shadow: 5px 12px 12px #a1a1a1c2;
-webkit-box-shadow: 5px 12px 12px #959595c2;
box-shadow: 5px 12px 12px #929292c2;
  }
  
  @media only screen and ( max-width: 400px) {
    .productBody{
      display: grid;
      grid-template-columns: 20% 80%;
  }
  .App {
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    background-color: #ffffff;
    margin-left: 10px;
  }

  }